body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  font-variant-ligatures: none;
  letter-spacing: 0px;
}

li {
  list-style: none
}

fieldset, img {
  border: 0
}

html
body
  height 100%
  background-color #f0f2f5
#app
  padding-bottom 56px
  max-width 700px
  margin 0 auto
//main
.am-tab-bar
  position fixed
  bottom 0px
  width 100%
  height auto
  z-index 999

//home
.space-carousel
  overflow: hidden;

.wing-blank
  width 100%
  margin 0px !important

.banner
  position relative
  p
    position absolute
    bottom 10px
    left 10px
    color #fff
    font-size: 16px
    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)
.am-carousel-wrap
  text-align right
  padding-right 10px
  padding-bottom 5px
.swiper-pagination
  text-align right
  padding-right 20px
  .swiper-pagination-bullet
    background-color rgba(255,255,255,0.5)
    opacity 1
  .swiper-pagination-bullet-active
    background-color rgba(255,255,255,1) !important
.article-loading
  width: 130px;
  margin: 0 auto;
//course
.search
  position fixed
  top 0px
  left 0px
  z-index 999
  width 100%

.course-hot-img
  width: 32%;
  height 138px
  background url("http://img.binlive.cn/upload/1509185539694")
  background-size cover
  background-position 50%;
  padding-top 1px
  float left
  h1
    font-size: 18px;
    text-align: center;
    color: #666;
    line-height 54px
    font-weight 500
  .icon-remen
    color: #ff7070;
    font-size: 42px !important;
    margin: 0 auto;
    display: block;
    width: 42px;
    margin-top: 14px;

.course-hots
  width: 68%;
  overflow hidden

.course-item
  float left
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  height: 46px;
  line-height: 46px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 4px;

.course-list
  h1
    line-height: 36px;
    color: gray;
    padding-left: 20px;
    border-bottom: 1px solid #eee;

//my
.blur
  height 200px
  width 100%
  overflow hidden
  position relative

.blur-img
  width: 140%;
  position absolute
  left -20%
  top -20%
  -webkit-filter: blur(26px);
  -moz-filter: blur(26px);
  -ms-filter: blur(26px);
  filter: blur(26px);

.avatar
  width 100px
  height 100px
  margin 0 auto
  position relative
  z-index 999
  overflow hidden
  margin-top 40px
  img
    width 100%
    border 3px solid hsla(0, 0%, 100%, .8);
    border-radius 50%
    box-shadow 1px 2px 1px rgba(0, 0, 0, 0.14)

.defulavatar
  text-align: center;
  color: #fff;
  font-size: 72px !important;
  position: relative;
  z-index: 9;
  margin: 0 auto;
  display: block;
.name
  color #fff
  position relative
  z-index 999
  font-size: 18px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-top: 0;

.message-button
  color: #fff;
  font-size: 32px !important;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 999999;
  padding: 5px;
  .am-badge
    position absolute
    right -3px

.my-list
  .iconfont
    position: relative;
  .icon-xuexi
    color: #62a3e9;
    top: -2px;
  .icon-qiandao
    color: #eb825d;
  .icon-fenxiang1
    color: #e67e22;
  .icon-fabiaowenzhang
    color: #a3d760;
  .icon-shenhe
    color #3498db
    font-size 17px
  .icon-shezhi
    color: #1abc9c;

//article
.article
  display flex
  div
    flex 1
  img
    border-radius 5px
    overflow hidden
.detail-header
  background: url(http://img.binlive.cn/upload/1509186302735) no-repeat;
  background-size: cover!important;
  min-height: 168px!important;
  overflow hidden
  h1
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    padding-top: 60px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100px;
    margin-bottom: 10px;
    box-sizing: border-box;
  .detail-body-tag
    padding-left: 22px;
    overflow hidden
    .time
      padding-right: 12px;
      font-size: 14px;
      color: #f2f2f2;
      margin-top: 10px;
      margin-bottom: 4px;
      text-align: left;
      float: left;
    span
      float: left;
      border-radius: 2px;
      padding: 0 8px;
      margin-top: 9px;
      background-color: #fff;
      margin-right: 10px;
      box-shadow: 1px 1px 1px rgba(0,0,0,.6);
      background-color: #2c3e50;
      color: #fff;
.article-content
  background-color #fff
.search-list
  position fixed
  left 0px
  top 44px
  width 100%
  background-color #fff
  height 100%
  overflow scroll
  padding-bottom 130px
  padding 0px 10px
  .search-item
    padding 12px 0px
    font-size 16px
    line-height 22px
    border-bottom 1px solid #e6e6e6
    &:last-child
      border: none
      margin-bottom 110px
//course details
.course-poster
  img
    width 100%
    display block
.course-introduce
  background-color #fff
  border-bottom: 1px solid #eee;
  margin: 10px 0px;
  padding-top: 14px;
  padding: 10px;
  h1
    font-weight 500
    font-size 16px
    margin-bottom 5px
  p
    line-height 18px
.course-button
  position fixed !important
  width 100%
  bottom 0px
  left 0px
  z-index 1000
.course-img
  width 100px
  height 100px
  border-radius 8px
  overflow hidden
  margin 12px 10px 0px 15px
  float left
  img
    height 100%
    margin-left -44%
.introduce-box
  padding-top 15px
.introduce-title
  height 54px
  padding-right: 20px;
  font-size 18px
  line-height 24px
  overflow hidden
.course-score
  color: #666;
  font-size 18px
  border: none;
  padding: 0;
  margin-top 15px
.course-score
  span
    color: #16a085;
.result-tip
  font-size 18px
  text-align center
  color #999
  margin-top 30px
  position relative
  &:before
    content ''
    display block
    height 1px
    width 12%
    background-color #c1c1c1
    position absolute
    top 10px
    left 8%
  &:after
    content ''
    display block
    height 1px
    width 12%
    background-color #c1c1c1
    position absolute
    top 10px
    right 8%
.result-introduce
  width: 94%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 2px 1px hsla(0,0%,80%,.2);
  height: 120px;
  border-radius: 6px;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 15px;
  .result-right
    float: left;
    width: 22%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    img
      height: 100%;
      margin-left -62%
  .result-left
    float: left;
    width: 78%;
    h1
      font-size: 16px;
      min-height: 74px;
      color: #85858a;
      font-weight 500
      line-height 26px
    h2
      font-size: 14px;
      color: #85858a;
      p
        float: left;
        margin-right: 20px;
        span
          color: #00bcc2;
.result-box
  position: relative;
  min-height: 135px;
  padding-bottom: 1px;
  width: 94%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 2px 1px hsla(0,0%,80%,.2);
  border-radius: 6px;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 15px;
.result-box-header
  color: #80869a;
  font-size: 16px;
  font-weight: 900;
  position relative
  .cloud-icon
    color: #04c4c9;
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: -5px;
.result-content
  color: #b8bfcb;
  padding: 10px 0px;
  border-top: 1px solid #eef4f9;
  border-bottom: 1px solid #eef4f9;
  word-wrap: break-word
  margin-top 15px
  p
    margin-top 12px
    color #777
.result-pass
  margin-top 0px
  border-top: none
//learned
.learned
  margin-top:10px;
  margin-bottom:10px;
  .learned-tag
    background-color #00bcc2
    color #fff !important
    padding 1px 6px
    border-radius 4px
//sign
.sign-box
  .Calendar-banner
    position: relative;
    width: 100%;
    height: 180px;
    img
      width 100%
  .sign-week
    position: absolute;
    left: 10px;
    color: #fff;
    font-size: 18px;
    bottom: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 2px 1px 1px rgba(0,0,0,.3);
  .sign-score
    z-index: 9;
    width: 100px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 65px;
    text-align right
  .sign-btn
    background-color: hsla(0,0%,100%,.21);
    top: 18px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-size: 12px;
    text-align: center;
    line-height: 38px;
    border: 2px solid hsla(0,0%,100%,.4);
    z-index: 99;
    box-shadow: 2px 2px 1px rgba(0,0,0,.2);
    color: #fff;
    position: absolute;
    right: 10px;
.calendar
  width 100%
  position relative
  z-index 99
  border none
  border-radius 8px
  padding-bottom 20px
  .react-calendar__tile--active
    background-color transparent !important
    time
      color #000 !important
  .react-calendar__tile--active.react-calendar__month-view__days__day--weekend
    time
      color red !important
  .iconfont
    color: #68bcff
  time
    width 2rem
    height 2rem
    line-height 2rem
    display inline-block
  .react-calendar__tile
    padding 0.5em 0px
  .signed
    time
      background-color #00a2d4
      border-radius 50%
      color #fff
  .today
    time
      display none
    span
      background: linear-gradient(120deg,#ff3c3c,#ff9ca1);
      color: #fff;
      display inline-block
      width 2rem
      height 2rem
      line-height 2rem
      border-radius 50%
.icon-SVG
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
//share
.share-box
  .am-list-body
    background-color transparent
  .addSVG
    position fixed
    right 20px
    bottom 20%
    z-index 999
    .icon-SVG
      border-radius 50%
      box-shadow 2px 2px 2px rgba(0,0,0,0.2)
      width 3em
      height 3em
  .icon-guanbi1
    position absolute
    right 10px
    top -10px
    font-size: 24px;
    z-index 9999
    color #999
//login
.login
  width 100%
  height 100%
  background: url(http://img.binlive.cn/upload/1507992945945) no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  z-index: 888;
  position fixed
  .login-box
    width 84%
    margin 0 auto
    padding-top 20%
    .iconfont
      color #fff
      font-size 24px
      position relative
      top 3px
      padding-right: 10px;
      border-right: 1px solid hsla(0,0%,100%,.6);
      height: 30px;
      float: left;
    .login-submit
      width: 100%;
      height: 42px;
      font-size: 16px;
      color: #fff;
      border: none;
      outline: none;
      letter-spacing: 4px;
      margin: 10px 0px 5px 0px
  .input-item
    background-color: hsla(0,0%,100%,.4);
    border-radius: 5px;
    padding: 10px;
    padding-left: 16px;
    overflow: hidden;
    margin-bottom 30px
    input
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
      font-size: 16px;
      line-height: 30px;
      padding-left: 10px;
      height: 30px;
      padding-top 5px
      width 80%
    ::-webkit-input-placeholder
      color: #fff;
    :-moz-placeholder
      color: #fff;
    ::-moz-placeholder
      color: #fff;
    :-ms-input-placeholder
      color: #fff;
  .directional
    overflow hidden
    a
      color: #fff;
      padding: 10px 0px;
      font-size: 16px;
//register
.register
  .input-item
    margin-bottom 10px
  .login-submit
    margin-top 30px !important
//avatar-box
.avatar-box
  margin 0 auto
  margin-bottom 10px
  margin-top 10px
  width 200px
  #avatar
    border-radius 5px
    overflow hidden
  button
    padding 8px 10px
    color #666
    border 1px solid #fff
    border-radius 5px
    width 100%
    margin-top 10px
.login-box
  .seting-button
    margin-top 10px !important
.avatar-tip
  color #fff
  font-size 16px
  height 34px
  line-height 34px
  padding-left 45px
//message
.message-box
  .noMessage-tip
    color #666
    font-size: 16px
    text-align center
    margin-top 30px
  .message-item
    overflow hidden
    margin-bottom 10px
    background-color #fff
    padding 14px 10px
    .item-top
      overflow hidden
      span
        float left
        color #888
      p
        float right
    .item-bottom
      position relative
      top 10px
      padding-top 10px
      padding-bottom 6px
      span
        position absolute
        left 0px
      p
        width 100%
        padding-left 50px
        min-height 18px
        text-align right
  .item-top
    font-size 16px
    padding 2px 0px
    overflow hidden
    span
      display inline-block
      margin-right 1em
    p
      display inline-block
      word-wrap: break-word;
      word-break: break-all;
  .item-content
    border-top 1px solid #e2e1e1
    div
      color #666
      p
        color #333
  .item-bottom
    border-top 1px solid #e2e1e1

//notfound
.notfound
  width 100%
  height 100%
  background url("http://img.binlive.cn/upload/1508921536422")
  background-size cover
  position fixed
//seting
.setting
  .avatar-box
    width 200px
    height 240px
    padding-top 200px
    position relative
    .avatarPlace
      width 100%
      position absolute
      left 0px
      top 0px
      border-radius 8px
      overflow hidden
    #avatar
      position absolute
      left 0px
      top 0px
      z-index 9
      border-radius 8px
      overflow hidden
      #Mavatar-wrapper
        background transparent !important
.reset-pass
  #email
    position relative
  .send-code
    position absolute
    padding 10px
    background-color #fff
    border-radius 4px
    border none
    right 5px
    top 8px
    min-width 80px
    text-align center
    background-color #eee
.review
  .review-button
    width 80%
    background-color #00a2d4
    color #fff
    padding 8px
    border-radius 4px
    border none
    margin 0 auto
    margin-top 5px
    display block

.chat-box
  .message-item-other
    img
      cursor pointer
  .robot-placeholder
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    top: 4px;
    z-index 9
    cursor pointer
  .robot
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    top: 4px;
    background-color: #00a2d4;
    box-shadow: 2px 2px 2px rgba(0,129,155,.2);
    background: url(http://img.binlive.cn/robot.png) no-repeat;
    background-size: contain;
    border-radius 50%
    .am-popover
      top 44px !important
      left 6px !important
      .am-popover-arrow
        width 14px
      .am-popover-inner
        .am-popover-inner-wrapper
          background-color #32c4d3
          color #fff
          padding: 8px 6px;
  .chat-top-bar
    height: 46px;
    width: 100%;
    position: fixed;
    z-index 99
    left: 0;
    top: 0;
    background: linear-gradient(120deg,#3bacee,#32c4d3);
  .online-num
    text-align right
    padding-right 10px
    float: right;
    width: 146px;
    color: #fff;
    height: 100%;
    line-height: 40px;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
    i
      margin 0 3px
    span
      min-width 32px
      display inline-block
      text-align left
//chat-login
.chat-login
  position relative
  overflow hidden
  .back-home
    position absolute
    top 10px
    left 20px
    color rgba(255,255,255,0.6)
    font-size: 18px;
  .chat-icon-item
    position absolute
    width 50%
    top 10%
    display none
    svg
      font-size: 100px;
      margin 0 auto
      display block
    p
      color #fff
      font-size: 18px;
      text-align center
      margin-top 10px
  .select-avatar
    left 50%
  .select-avatars
    position absolute
    width 90%
    top 5%
    left 5%
    background-color rgba(255,255,255,0.8)
    padding 5px
    border-radius 5px
    padding-bottom 60px
    display none
    h1
      color #444
      text-align center
      line-height 30px
      font-size: 16px;
      margin-bottom 10px
    .icon-guanbi1
      position absolute
      right 5px
      top 2px
      color: #fafafa;
      padding 5px
      font-size: 22px;
    .select-avatar-item
      width 33.33%
      float left
      box-sizing border-box
      padding 10px
      position relative
      img
        width 100%
        border-radius 5px
        box-shadow: 2px 2px 2px rgba(0,67,87,.1);
      .checked-avatar
        color: #27abf3;
        position absolute
        bottom 15px
        right 15px
        font-size: 22px;
  .avatar-submit
    width: 70%;
    height: 30px;
    line-height 30px
    text-align center
    background-color: #00a2d4;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    letter-spacing: 4px;
    position: absolute;
    bottom: 15px;
    z-index 9
    left 15%
.subject-item
  width: 94%;
  min-height: 60px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 1px rgba(179,184,199,.15);
  margin-bottom: 15px;
  border-left: 4px solid #00a5d9;
  cursor pointer
  .subject-item-top
    overflow hidden
  .subject-item-bottom
    overflow: hidden;
    height: 28px;
    margin-top: 10px;
    margin-bottom: -5px;
    border-top: 1px solid #f2f2f2;
    .subject-creat-time
      width: 40%;
      float: left;
      color: #999;
      font-size: 14px;
      line-height: 32px;
      i
        color: #76b2f9;
     .subject-count
       float: right;
       line-height: 32px;
       color: #999;
       min-width: 40px;
       i
         color: #e9a944;
         margin-right: 5px;
  .progress
    width 66px
    height 66px
    position relative
    float: left;
    margin-right: 10px;
    position: relative;
    top: 4px;
    .progress-text
      color: rgb(63, 199, 250);
      font-weight: 900;
      font-size: 14px;
      line-height 66px
      text-align center
      position absolute
      width 100%
  .subject-item-content
    width: 100%;
    height 72px
    padding-left: 80px;
    box-sizing: border-box;
    .subject-item-title
      border-bottom: 1px solid #eaeef9;
      font-size: 16px;
      line-height: 34px;
      color: #3c3c3c;
      font-weight: 400;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    .subject-item-introduce
      margin-top 2px
      font-size: 14px;
      padding: 0;
      color: #363636;
      height 30px
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
.subject-details-item
  border-bottom 1px solid #eaeaea
  margin-bottom 10px
  color: rgb(62, 73, 94);
  .subject-details-title
    margin-bottom: 10px;
    font-size: 17px;
    color #0a0a0a
  .subject-details-answer
    font-size: 16px;
    margin-bottom 15px;
    line-height 20px
  .subject-details-radio
    p
      margin-bottom 6px
      line-height 20px
    .icon-none
      border: 1px solid #d4d4d4;
      margin-top: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display inline-block
      position relative
      top 3px
      margin-right 4px
    .icon-duihao
      color: #27abf3;
      margin-right 4px
@-webkit-keyframes fadeInUp{
  0%{ opacity:0; -webkit-transform:translate3d(0, 20%, 0); transform:translate3d(0, 20%, 0) }
  100%{ opacity:1; -webkit-transform:none; transform:none }
}

@keyframes fadeInUp{
  0%{ opacity:0; -webkit-transform:translate3d(0, 20%, 0); -ms-transform:translate3d(0, 20%, 0); transform:translate3d(0, 20%, 0) }
  100%{ opacity:1; -webkit-transform:none; -ms-transform:none; transform:none }
}

.fadeInUp{ -webkit-animation-name:fadeInUp; animation-name:fadeInUp;-webkit-animation-duration:0.8s; animation-duration:0.8s; -webkit-animation-fill-mode:both; animation-fill-mode:both;display:block !important }


// article
.article-content
  h1
    padding 0px
    font-size: 18px;
  h2
    font-size: 16px;
  ul
    padding-left 20px
    li
      margin-bottom 5px
//media query
@media screen and (min-width: 700px) {
  body{
    max-width 700px !important;
    margin 0 auto
  }
  .am-tabs-tab-bar-wrap, .chat-top-bar, .chat-input-wrapper{
    max-width 700px
  }
  .am-search, .search-list, .course-button, .popup-box, .chat-top-bar, .chat-input-wrapper, .massage-container {
    max-width 700px
    left 50% !important;
    margin-left -350px
  }
  .massage-container{
    border-left 1px solid #fafafa
    border-right 1px solid #fafafa
  }
}
@media screen and (max-width: 500px)
  .article
    div
      .article-item-title
        font-size: 16px !important;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

@media screen and (max-width: 330px)
  .article
    div
      .article-item-title
        height 55px !important
        margin-bottom 15px
