.article-content
  padding 10px 14px
  pre
    background-color: #282a36 !important
  h1
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    padding-top: 100px;
    text-align: left;
    padding-left: 20px;
  pre
    background-color: #272822 !important;
    margin-top: 10px;
    overflow-x: auto !important;
    font-size: 16px;
    position: relative;
    padding: 10px;
    padding-left: 42px !important;
    border-radius: 4px;
    &:before
      content: '';
      height: 100%;
      width: 28px;
      background-color: #373737;
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      border-radius: 0px 5px 5px 0px;
      overflow: hidden;
      box-shadow: 1px 0px 2px rgba(36, 36, 36, .2)
  p
    code
      background-color: #eee;
      padding: 2px 8px;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      line-height: 18px;
      margin: 0px 3px;
      margin-bottom: 2px;
      display: inline-block;
  table
    tr
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
  table
    th,td
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
      color: #333;
  ol
    padding-left: 20px;
    margin-bottom: 10px;
  table
    tr
      &:nth-child(2n)
        background-color: #f6f8fa;
  pre
    code
      color: #fff;
      font-family: monospace, monospace;
      letter-spacing: 0px;
      line-height: 24px;
  hr
    border: inherit !important;
    background-color: #D3DCE6;
    margin-top: 10px;
    margin-bottom: 10px;
  blockquote
    background-color: #EFF2F7;
    padding: 10px;
    border-left: 10px solid #D3DCE6;
    color: #D3DCE6;
    margin-bottom: 10px;
  h1
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 8px;
    color: #333
  h2
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 10px;
    color: #444
  h3
    font-size: 18px;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 10px;
    color: #444
  h4
    font-size: 17px;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 10px;
    color: #555
  blockquote
    margin-top: 14px;
    margin-bottom: 14px;
  p
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: rgb(36, 41, 46);
  strong
    color: rgb(0, 123, 111);
  a
    color: rgb(0, 123, 111);
  em
    color: #666
  pre
    margin-bottom: 15px;
    box-shadow: 0px -1px rgba(0, 0, 0, 0.04)
  img
    width: auto;
    max-width: 100%;
    display: block;
    margin: 6px 0px;
    cursor: pointer;
  blockquote
    *
      margin-bottom: 0px
  ul
  padding-left: 28px;
  margin-bottom: 14px
  li
    list-style: initial !important;
    color: #24292e
